div {
  width: 475px;
  border-radius: 6px;
  padding: 12px;
  padding-right: 22px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.photo {
  width: 55px;
  height: 55px;
  object-fit: cover;
  object-position: center;
  border-radius: 33px;
  vertical-align: middle;
  margin-right: 8px;
}

.text {
  font-family: Arial;
  font-size: 18px;
  border: none;
  vertical-align: middle;
  outline: none;
  width: 320px;
}

.tweet {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: 2px;
  border-radius: 100px;
  border: none;
  background-color: rgb(40, 149, 252);
  color: white;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  transition: box-shadow 0.1s,
    opacity 0.1s;
}

.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
}

.tweet:active {
  opacity: 0.9;
}